<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <script src="index.js"></script>
  <title>Home</title>

  <!--    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">-->
<!--  Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<!--  Font Awesome-->
  <script src="https://kit.fontawesome.com/63302ef58e.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="fonts/font-awesome.min.css">
  <link rel="stylesheet" href="fonts/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="css/gradient-navbar-1.css">
  <link rel="stylesheet" type="text/css" href="css/gradient-navbar.css">
  <link rel="stylesheet" type="text/css" href="css/Navigation-with-Search.css">
  <link rel="stylesheet" type="text/css" href="css/Off-Canvas-Sidebar-Drawer-Navbar.css">
<!--&lt;!&ndash;  <link rel="stylesheet" href="assets/css/style.css">&ndash;&gt;-->
<!--  <link rel="stylesheet" type="text/css" href="css/style.css">-->

</head>
<body style="background-color: #eaeaea;">
<nav class="navbar navbar-dark navbar-expand-md shadow" id="app-navbar">
  <div class="container-fluid"><a class="navbar-brand" href="home.html"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <img src="Logo.png" style="max-height: 3em;">
    <button class="btn"><a href="/newroom" style="color:white">Post a room</a></button>
    <button class="btn"><a href="/log" style="color: white">Log in</a></button>

    <div class="collapse navbar-collapse" id="navcol-2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link active" href="account.html">Account</a></li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <label class="form-label d-flex mb-0" for="search-field">

      </label>

      <form class="me-auto search-form" target="_self">
        <input id="search-field" class="form-control search-field" type="search" name="search" />
      </form><a class="btn btn-light action-button" role="button" href="#"><i class="fa fa-search"></i></a>
    </div>
  </div>
</nav>

<!--<script src="assets/bootstrap/js/bootstrap.min.js"></script>-->
<script src="js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
<script src="js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>

<section class="jumbotron" style="margin-top:-2em">
  <div>
    <div class="card rounded-corners shadow" style="margin-bottom: 20px;">
      <article class="card-group-item">
        <header class="card-header">
          <h6 class="title">Range input </h6>
        </header>
        <div class="filter-content" style="margin-top: -1em;">
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Min</label>
                <input type="number" class="form-control" id="minValue" name="minValue" placeholder="€0" value="0">
              </div>
              <div class="form-group col-md-6 text-right">
                <label>Max</label>
                <input type="number" class="form-control" id="maxValue" placeholder="€1,000" name="maxValue" value="9999">
              </div>
            </div>
          </div> <!-- card-body.// -->
        </div>
      </article> <!-- card-group-item.// -->
      <button class="btn" onclick="checkRange()" style="margin-top: -1em">View rooms in range</button>
    </div>


    <div class="rounded-corners shadow" style="padding: 5px; background-color: white">
      <!--loops through every entry from the list passed in and adds them to page -->
       <% for( let room of list ){ %>

          <div class="room" style="margin-bottom: -0px; background-color:white;">
            <div class="row" style="width:100%; padding: 20px;">

              <!--      33% width - Image of room -->
              <div class="col-md-4"><img src="<%=room.picture%>" class="rounded-corners shadow" alt="Room image" style="max-width: 100%; max-height:300px" /></div>

  <!--        33% width - Details -->
              <div class="col-md-4" style="text-align: center; display: flex; justify-content: center; align-content: center; flex-direction: column">
                <div class="intro">
                  <h1><%= room.name %></h1>
                  <p><%= room.details%></p>
                  <h4><b class="rmPrice">€<%= room.price%></b> / month</h4>
    <!--              <a class="btn btn-primary" role="button" href="#">View</a>-->
                  <a class="btn btn-primary" role="button" href="/deleteroom/<%=room.id%>">Delete</a>
      <!--            <br>-->
      <!--            <br>-->
                </div>
              </div>


        <!--      33% width - Google Maps-->
              <div class="col-md-4 rounded-corners"><iframe class="rounded-corners shadow" allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyD-3-QEHpgnhneCKlo5-rnQPX_mOd9hmNo&amp;center=<%=room.latitude%>%2C<%=room.longitude%>&amp;zoom=16" loading="lazy" width="100%" height="100%" style="max-height: 300px;max-width: 100%;"></iframe></div>

            </div>
          </div>
    <!--  <br>-->
    <!--  <br>-->

      <% } %>
    </div>
  </div>
</section>
<script>
  function checkRange() {
    console.log('CHECKING RANGE');
    let min = document.getElementById("minValue").value;

    let max = document.getElementById("maxValue").value;
    console.log('MIN: ' + min + "   MAX: " + max);

    // Get list
    var rooms = document.getElementsByClassName("rmPrice");
    let length = rooms.length;

    // Loop through all prices
    for (var i = 0; i < length; i++) {
      let price = rooms[i].innerHTML; // Get price
      price = price.replace('€',''); // Remove € from string
      console.log("Price:  " + price);

      // If price is outside range
      if (price <= min || price >= max) {
        console.log("Shouldn't be shown. Price is: " + price + " min: "+ min + " max: "+ max);
        var parent = rooms[i]; // Get element
        for (var i = 0; i < 6; i++) { // Loop up through parents to get to rooms row
          if (parent.parentNode) {
            parent = parent.parentNode;
          }
        }
        parent.remove(); // Delete parent, removing row that held the room
        console.log("Parent removed")
      }
    }
  }
</script>


<!--<div class="SideMenu">-->
<!--  <form id="sideForm">-->
<!--    <div class="card">-->
<!--      <article class="card-group-item">-->
<!--        <header class="card-header">-->
<!--          <h6 class="title">Range input </h6>-->
<!--        </header>-->
<!--        <div class="filter-content">-->
<!--          <div class="card-body">-->
<!--            <div class="form-row">-->
<!--              <div class="form-group col-md-6">-->
<!--                <label>Min</label>-->
<!--                <input type="number" class="form-control" id="inputEmail4" placeholder="€0">-->
<!--              </div>-->
<!--              <div class="form-group col-md-6 text-right">-->
<!--                <label>Max</label>-->
<!--                <input type="number" class="form-control" placeholder="€1,0000">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div> &lt;!&ndash; card-body.// &ndash;&gt;-->
<!--        </div>-->
<!--      </article> &lt;!&ndash; card-group-item.// &ndash;&gt;-->
<!--      <article class="card-group-item">-->
<!--        <header class="card-header">-->
<!--          <h6 class="title">Selection </h6>-->
<!--        </header>-->
<!--        <div class="filter-content">-->
<!--          <div class="card-body">-->
<!--            <div class="custom-control custom-checkbox">-->
<!--              <span class="float-right badge badge-light round"></span>-->
<!--              <input type="checkbox" class="custom-control-input" id="Check1">-->
<!--              <label class="custom-control-label" for="Check1">Val1</label>-->
<!--            </div> &lt;!&ndash; form-check.// &ndash;&gt;-->

<!--            <div class="custom-control custom-checkbox">-->
<!--              <span class="float-right badge badge-light round"></span>-->
<!--              <input type="checkbox" class="custom-control-input" id="Check2">-->
<!--              <label class="custom-control-label" for="Check2">Val2</label>-->
<!--            </div> &lt;!&ndash; form-check.// &ndash;&gt;-->

<!--            <div class="custom-control custom-checkbox">-->
<!--              <span class="float-right badge badge-light round"></span>-->
<!--              <input type="checkbox" class="custom-control-input" id="Check3">-->
<!--              <label class="custom-control-label" for="Check3">Val3</label>-->
<!--            </div> &lt;!&ndash; form-check.// &ndash;&gt;-->

<!--            <div class="custom-control custom-checkbox">-->
<!--              <span class="float-right badge badge-light round"></span>-->
<!--              <input type="checkbox" class="custom-control-input" id="Check4">-->
<!--              <label class="custom-control-label" for="Check4">Val4</label>-->
<!--            </div> &lt;!&ndash; form-check.// &ndash;&gt;-->
<!--          </div> &lt;!&ndash; card-body.// &ndash;&gt;-->
<!--        </div>-->
<!--      </article> &lt;!&ndash; card-group-item.// &ndash;&gt;-->
<!--    </div> &lt;!&ndash; card.// &ndash;&gt;-->
<!--  </form>-->
<!--</div>-->



<script type ="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.1.2/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.1.2/firebase-analytics.js";

  import { getAuth, signInWithPopup, GoogleAuthProvider ,onAuthStateChanged,  signOut} from "https://www.gstatic.com/firebasejs/9.1.2/firebase-auth.js";

  var db=admin.database();

  // Your web app's Firebase configuration
  var firebaseConfig = {
    // Paste your Config Code

    apiKey: "AIzaSyApZIgN87Jy6iOjkmhk0QGkhDAHzgr4JhI",
    authDomain: "cs353-18d8f.firebaseapp.com",
    projectId: "cs353-18d8f",
    storageBucket: "cs353-18d8f.appspot.com",
    messagingSenderId: "100988194529",
    appId: "1:100988194529:web:7ff7397346fd01189231a0",
    measurementId: "G-F61ZBZGL76"

  };

  const app = initializeApp(firebaseConfig);
  document.getElementById('dashboard').style.display="none"
  const auth = getAuth();

  const provider = new GoogleAuthProvider();
  // const auth = getAuth();

  document.getElementById('logoutButton').addEventListener('click', LogoutUser)

  //checks if user is already logged in, user doesnt have to login in again

  function checkauthstate(){

    onAuthStateChanged(auth, (user) => {
      if (user) {
        //
        document.getElementById('LoginScreen').style.display="none"
        document.getElementById('dashboard').style.display="block"
        const uid = user.uid;
        console.log(user.email +'user is signed in' + uid)

      } else {
        // User is signed out

        console.log('user out')
      }

    });
  }

  //log out
  function LogoutUser(){
    console.log('Logout Btn Call')

    auth.signOut().then(()=>{

      console.log('logged out')
      document.getElementById('LoginScreen').style.display="block"
      document.getElementById('dashboard').style.display="none"

      //window.location.href="logout .html"; to move to different pages

    }).catch(e=>{
      console.log(e)
    })

  }

  checkauthstate()
</script>




<style>

  .rounded-corners{
    border-radius: 12px;
  }

  .shadow{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
  }

  </style>

<!--  /*navbar*/-->
<!--  #brand-logo {-->
<!--    font-size: 34px;-->
<!--  }-->


</style>
</body>
</html>
